<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <br>
            <h3>Ошибочка вышла...</h3>
            <p>Причина: {{{error}}}</p>
            <br>
            <a type="button" class="btn btn-primary" href="/random">Рандомная рассылка</a>
            <a type="button" class="btn btn-primary" href="/send">Массовая рассылка</a>
        </div>
    </div>
</div>
<br><br>