<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <br>
            <h1>E-mail отправителя</h1>
            <br>
            <form method="POST" action="/">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Отправка с gmail аккаунта возможна только при выполнении след. инструкций:
                        <a href="https://nodemailer.com/usage/using-gmail/">gmail_auth</a></div>
                </div>
                <br>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="pass" class="form-control" id="exampleInputPassword1" required>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>
<br><br>